html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    width: 100%;
    height: 100%;
}

.leftBar {
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    width: 250px;
    overflow: auto;
}

.myFoto {
    border-radius: 100px;
    border: 3px solid green;
    box-shadow: 0 0 7px #666;
    width: 200px;
    height: 200px;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 25px;
}

.myName {
    font-size: 27px;
    line-height: 1.25;
    margin-left: 25px;
    margin-bottom: 25px;
}

.link {
    padding-left: 25px;
    margin-bottom: 10px;
    font-size: 19px;
}

.linkName {
    display: inline;
    width: 50%;
}

.linkInfo {
    display: inline;
}

.mainInfo {
    margin-left: 250px;
    padding: 1px 16px;
    background-color: white;
    height: 100%;
    overflow: auto;
}

.aboutMe {
    margin-top: 15px;
}

.aboutMe .description {
    padding: 15px;
    border: 1px solid #d0d7de;
    border-radius: 6px;
    box-shadow: 6px 6px #f1f1f1;
}

.description {
    font-size: 22px;
    display:flex; align-items:center;
}

.projects {
    margin-top: 15px;
}

.project {
    margin-top: 15px;
    padding: 0 15px 15px 15px;
    border: 1px solid #d0d7de;
    border-radius: 6px;
    box-shadow: 6px 6px #f1f1f1;
}

.projectName {
    font-weight: bold;
}

.projectLink {
    margin-top: 10px;
}

.projectFoto {
    width: 200px;
}

/* .descriptionWithImg {
    width: calc(100% - 200px);
    vertical-align: top;
    display: inline;
} */